/* td {
  font-size:5px;
} */

table {
  border-collapse: collapse; /* セルの境界を重ねる */
  width: 100%; /* テーブルの幅を100%に設定 */
}

table, th, td {
  border: 1px solid black; /* 枠線のスタイルを設定 */
  padding: 8px; /* セル内の余白を設定 */
}

th {
  background-color: #f2f2f2; /* ヘッダーの背景色を設定 */
  text-align: left; /* ヘッダーのテキストを左寄せに設定 */
}

.item_field {
  border:solid 0.5px black;
  background: blanchedalmond;
}
